{% extends 'main/alltemplates.html' %}

{% block title %}Немного о нас{% endblock %}
{% block content %}
<h1>Привет, меня зовут Вероника!</h1>
<p>Моих лошадей зовут Сархан и Эльдорадо, и они ждут Вас в гости!</p>
    Почему именно мы?
    Я начала свою спортивную карьеру с Республиканского центра олимпийской подготовки конного спорта и коневодства
в Ратомке в 10 лет.
    Сначала поступила в учебную часть, где в течение 2-х лет обучалась держаться в седле, чистить и ухаживать за
лошадьми до и после тренировок, проходила подготовку по физической культуре, сдавала нормативы!
    Позже я поступила в отделение выездки, где совершенствовались навыки верховой езды, ведь выездка в кооном
спорте - высшая школа верховой езды, где лошадью нужно уметь управлять силой мысли!
    Да-да, к такому совершенству спортсмены идут многие годы, а иногда и всю жизнь!
    Так начнем же с малого - наши тренировки!
{% endblock %}