<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Немного о себе!</title>
    <style>
   body {
    background: #c7b39b url(age_b_website.jpg); /* Цвет фона и путь к файлу */
    color: #fff; /* Цвет текста */
   }
  </style>
</head>
<body>
<h2>Меня зовут Вероника и я занимаюсь конным спортом с 10-ти лет!</h2>
Моя спортивная карьера началась в Республиканском центре олимпийской подготовки конного спорта
и коневодства, где я занималась 5 лет, из них 2 года в учебной части, и 3 года - в отделении
выездки! Моя первая лошадь - Сархан, 2017 г.р., сегодня ему 5 лет и мы уже ездили на соревнования, где
показали хорошие результаты!
Сархан попал ко мне еще совсем маленьким, ему было 8 месяцев, как только я его увидела - сразу же полюбила,
ведь он такой ласковый и нежный... Эти качества в нем остались до сих пор, благодаря нашей дружбе,
мы смогли достичь таких результатов, как возможность конкурировать с Мастерами конного спорта!!!
Я уверена, что научиться верховой езде может каждый, самое главное, чтобы у Вас была Любовь к этому
животному, и у вас все получится! И мы Вам в этом поможем!
</form>
<form action="{% url 'price' %}">
    <input type="submit" value="Узнать стоимость индивидуальных занятий">
</form>
</body>
</html>