<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Индивидуальные занятия</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
  {
  background: #b2b2b2;
  }>
    <h1>Как будет проходить ваша тренировка?</h1>
    <div class="container">
  <div class="row">
    <div class="col">
        <h2>Чистим</h2>
        <div><img class="left" src="../../static/OverOne_Project/img/1539695222_horse-love-1.jpg" alt="Письма мастера дзен"></div>
  </style>

    </div>
    <div class="col">
      <h2>Седлаемся</h2>
        <div><img class="left" src="../../static/OverOne_Project/img/kak-pravilno-sedlat-loshad1.jpg" alt="Седловка"></div>
    </div>
    <div class="col">
      <h2>Тренируемся</h2>
        <div><img class="left" src="Без%20названия.jpg" alt="Тренируемся"></div>
    </div>
  </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
  </body>
</html>